body {
	background: #cccccc;
}

header h1,header h2 {
	color: #000033;
}

nav.genres h2 {
	background: #ccccff;
	border-color: #ccccff;
}

div#wrapper.reservaties nav#main_menu h2 {
	background: #EAAE24;
	border-color: #EAAE24;
}

nav.genres ul li a {
	color: #000055;
	background: #ccccff;
	border-color:#ccccff;
}
div#wrapper.reservaties nav#main_menu ul li a {
	color: #553300;
	background: #EAAE24;
	border-color:#EAAE24;
}
div#wrapper.reservaties nav#main_menu ul li a:hover {
	background: #eeeeee;
	border-color:#eeeeee;
}

nav.genres ul li a:hover {
	background: #eeeeee;
	border-color: #eeeeee;
}

nav.genres{
background: #ccccff;
}
div#wrapper.reservaties nav#main_menu{
background: #EAAE24;
}

.red {
	color: #FF0000;
}

div#wrapper {
	background: #ffffff;
	border-color:#cccccc;
}

table#voorstelling_tabel tr:nth-child(even) td {
	background: #ddddff;
}

table#voorstelling_tabel tr:nth-child(odd) td {
	background: #ccccff;
}

table#voorstelling_tabel th {
	background: #aaaacc;
}

table#voorstelling_tabel td {
	border-color:#ccccff;
}




.error_msg{
	color:#330000;
}