@font-face {
	font-family: Cultural;
	src: url(../FONT/Night_Club_70s_Bold.ttf);
}

/*==General==============================*/

/*==Header===============================*/
header h1,header h2 {
	font-family: Cultural;
	font-weight: bolder;
}

header h1 {
	font-size: 30pt;
}

header h2 {
	font-size: 20pt;
}

/*==Main Menu============================*/
nav#main_menu h2 {
	font-size: 20pt;
	font-family: Cultural, Arial;
}


nav#main_menu ul li a {
	font-family: Arial;
	font-size: 10pt;
}
/*==Secondary Menu=========================*/

nav#secondary_menu ul li a {
text-align: center;
font-size:10px;
}

/*==Content================================*/

/*General*/
section h2 {
	font-size: 20pt;
	font-family: Cultural, "Times new Roman"
}

label{
	font-weight:bolder;
	font-family: Arial;
	vertical-align: middle;
	font-size: 8pt;
}

table.voorstelling_weergave th {
	font-weight: bolder;
	text-align: center;
	font-size: 10pt;
	vertical-align: middle;
}

table.voorstelling_weergave td {
	font-size: 10pt;
	text-align: center;
}

td.title, td.executors{
	text-align: left !important;
}
td.price{
	text-align: right !important;
}

/*Reservaties*/
ul#vsReservatieInfo li span.info {
	font-weight: bolder;
}



/*Voorstellingen*/

/*Nieuwe Gebruiker*/
legend{
	font-family: Cultural, "Times new Roman";
	font-size: 12pt;
}

/*==Overall Classes======================================*/

.error_msg {
	font-size: 12pt;
	font-weight: bolder;
}

.text_right{
	text-align: right !important;
}

.bold{
	font-weight: bolder;
}

ul.error_msg li{
	font-size:10pt;
}