@font-face {
	font-family: Cultural;
	src: url(../FONT/Night_Club_70s_Bold.ttf);
}

header {
	clear: both;
}

header figure img {
	float: left;
}

header h1,header h2 {
	font-family: Cultural;
	color: #000033;
	font-weight: bolder;
	text-shadow: 3px 3px 2px #ccccff;
	float: left;
	font-size: 30pt;
}

header h1 {
	float: left;
	font-size: 30pt;
}

header h2 {
	margin: 10px;
	font-size: 20pt;
}