/*Clear float*/
header,nav,section {
	clear: both;
}

/*Float Left*/
header figure img,header h1,header h2,nav#main_menu h2,nav#main_menu ul li
	{
	float: left;
}

/*Display Block*/
nav#main_menu ul li a,section#reservatie ul#vsReservatieInfo li span.info,section#reservatie ul#vsReservatieInfo li input,section#reservatie nav a.button
	{
	display: block;
}

/*==Wrapper==========================*/
div#wrapper {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

/*==Header===========================*/
header h2 {
	margin: 10px;
}

/*==Main Menu========================*/
nav#main_menu h2 {
	padding: 5px;
}

nav#main_menu ul li a {
	padding: 5px;
}

nav#main_menu {
	width: 100%;
	height: 27px;
}

/*==Content==========================*/

/*General*/
section h2 {
	margin: 20px;
	margin-top: 50px;
}

/*Reservaties*/
ul#vsReservatieInfo li span.info {
	margin: 5px;
}

ul#vsReservatieInfo li {
	padding: 10px;
}

ul#vsReservatieInfo li input {
	margin: 5px;
}

ul#vsReservatieInfo li input[type=text] {
	width: 50px;
}

/*Voorstellingen*/
table#voorstelling_tabel {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

table#voorstelling_tabel th {
	padding: 2px;
}

table#voorstelling_tabel td {
	padding: 2px;
}

table#voorstelling_tabel {
	width: 900px;
}




.error_msg{
	margin:20px;
}