nav {
	clear: both;
}

nav#Genres ul,nav#genre_menu ul li,nav#genre_menu h2 {
	display: block;
	margin: 0;
	padding: 0;
}

nav#Genres h2 {
	font-size: 20pt;
	font-family: Cultural, Arial;
	padding: 5px;
	background: #ccccff;
	border: 0px solid #ccccff;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	float: left;
}

nav#Genres ul li {
	float: left;
}

nav#Genres ul li a {
	display: block;
	color: #000055;
	padding: 5px;
	background: #ccccff;
	border: 2px solid #ccccff;
	border-left-style: groove;
	font-family: Arial;
	font-size: 10pt;
}

nav#Genres ul li a:hover {
	background: #eeeeee;
	border-color: #eeeeee;
}