nav#Genres h2 {
	border-style: solid;
	border-width: 0px;
}

nav#main_menu ul li a {
	border-width: 2px;
	border-style: solid;
	border-left-style: groove;
}

div#wrapper {
	border-width: 5px;
	border-style: double;
}

a.button {
	border-width: 2px;
	border-style: groove;
}

section table#voorstelling_tabel td {
	border-width: 1px;
	border-style: solid;
}
