@import 'reset.css';

@import 'overrideBPrefs.css';

body {
	background: #cccccc;
}

div#wrapper {
	display: block;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border: 5px double #cccccc;
}

/*== Content ====================*/
section {
	clear: both;
}

section h2 {
	margin: 20px;
	margin-top: 50px;
	font-size: 20pt;
	font-family: Cultural, "Times new Roman"
}

a.button {
	text-align: center;
	v-align: middle; padding : 3px;
	background: #ddddff;
	border: 2px groove #ddddff;
	border-radius:3px;
	padding: 3px;
}